body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select, button[type="submit"] {
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 14px;
}
